/* GENERAL DESIGN */
html, body {
    height: 100%;
    background-color: #bbdefb;
    font-family: 'Raleway', sans-serif;
}

main {
    min-height: 100%;
    position: relative;
}

footer {
    padding: 15px;
    background-color: #616161;
    color: #eeeeee;
}

/* NAVBAR DESIGN */

.navbar-logo {
    width: 30px;
    height: auto;
    line-height: 30px;
}

#logged_div {
    margin-right: 10px;
}

/* HOME PAGE DESIGN */

.home-background-image {
    width: 100%;
}

.registration-banner {
    margin-top: 100px;
}

.registration-banner h2 {
    margin-bottom: 15px;
    padding: 15px;
}

.registration-area {
    border-radius: 15px;
    padding: 15px;
    background-color: #eeeeee;
}

.registration-area h4 {
    margin-bottom: 20px;
    text-align: center;
}

.about-us {
    margin-top: 50px;
    padding: 15px;
    background-color: #eeeeee;
    border-radius: 15px;
    margin-bottom: 20px;
}

.about-us img {
    width: 100%;
}

.about-us h3 {
    margin-bottom: 15px;
}

.btn-dark a {
    text-decoration: none;
}

.test + .tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}

/* MANAGER DESIGN */

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -13rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 13rem;
}

#page-content-wrapper {
    min-width: 100vw;
    background-color: #f8f9fa;
    margin: 20px 0px;
    padding: 10px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
        background-color: #f8f9fa;
        margin: 20px;
        border-radius: 15px;
        padding: 10px;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -13rem;
    }
}

.subpage-active {
    background-color: #dae0e5 !important;
}

/* ADD NEW IMAGE DESIGN */
.my-image {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.img-options {
    margin-top: 5px;
    text-align: center;
    color: #616161;
}

.img-options i {
    font-size: 23px;
    margin: 3px;
}

.img-options i:hover {
    cursor: pointer;
}

.tag:hover {
    cursor: pointer;
}

.tag {
    margin: 0 5px;
    font-size: 14px;
}

.tag-remove-icon {
    margin-left: 5px;
}

/* CROP IMAGE DESIGN */

.selected-crop-image {
    padding: 20px;
    text-align: center;
}

.selected-image {
    max-width: 400px;
    height: auto;
}

.jcrop-active {
    margin: auto !important;
}

/* GEO POSITION DESIGN */
#map {
    width: 100%;
    height: 350px;
}

.geo-image {
    height: 50px;
    width: auto;
}

.leaflet-marker-icon {
    height: 50px;
    width: auto;
}

.my-images {
    margin: 30px 0px;
}

/* USER DATA DESIGN */
.user_data_con {
    margin-bottom: 20px;
}

.user_data {
    border-radius: 15px;
    padding: 30px;
    background-color: #f8f9fa;
}

.h3_user_data {
    margin: 5px;
    padding: 5px;
}

.user_data h3 {
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
    border-bottom: 1px solid lightslategray;
    padding: 10px;
}

.user_data_banner {
    margin-top: 80px;
}

/* USER ADMINISTRATION DESIGN */
.user_account_banner {
    margin-top: 80px;
}

.useraccount_cont {
    border-radius: 15px;
    padding: 30px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

.table_user {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
}

#heading_table {
    text-align: center !important;
}

#table_div {
    width: 100%;
    height: 100%;
}

.table_user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
}

.table_user tr, th, td {
    border: 0.1em solid #ddd;
    padding: 1em;
    background-color: white;
}

.acc_btn {
    width: 100%;
}

/* FEED DESIGN */

.table_tags {
    padding: 5px 15px;
}

.table_tags th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
}

.table_tags tr, th, td {
    border: 0.1em solid #ddd;
    padding: 1em;
    background-color: white;
}