/* GENERAL DESIGN */
html, body {
    height: 100%;
    background-color: #bbdefb;
    font-family: 'Raleway', sans-serif;
}

main {
    min-height: 100%;
    position: relative;
}

footer {
    padding: 15px;
    background-color: #616161;
    color: #eeeeee;
}

/* NAVBAR DESIGN */

.navbar-logo {
    width: 30px;
    height: auto;
    line-height: 30px;
}

/* HOME PAGE DESIGN */
.home-background-image {
    width: 100%;
}

.registration-banner {
    margin-top: 100px;
}

.registration-banner h2 {
    margin-bottom: 15px;
    padding: 15px;
}

.registration-area {
    border-radius: 15px;
    padding: 15px;
    background-color: #eeeeee;
}

.registration-area h4 {
    margin-bottom: 20px;
    text-align: center;
}

.about-us {
    margin-top: 50px;
    padding: 15px;
    background-color: #eeeeee;
    border-radius: 15px;
    margin-bottom: 20px;
}

.about-us img {
    width: 100%;
}

.about-us h3 {
    margin-bottom: 15px;
}

.btn-dark a {
    text-decoration: none;
}

.test + .tooltip > .tooltip-inner {
    background-color: #73AD21;
    color: #FFFFFF;
    border: 1px solid green;
    padding: 15px;
    font-size: 20px;
}

/* MANAGER DESIGN */

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -13rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 13rem;
}

#page-content-wrapper {
    min-width: 100vw;
    background-color: #f8f9fa;
    margin: 20px 0px;
    padding: 10px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
        background-color: #f8f9fa;
        margin: 20px;
        border-radius: 15px;
        padding: 10px;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -13rem;
    }
}

.subpage-active {
    background-color: #dae0e5 !important;
}

/* ADD NEW IMAGE DESIGN */
.my-image {
    text-align: center;
    padding: 10px;
}

.img-options {
    margin-top: 5px;
    text-align: center;
    color: #616161;
}

.img-options i {
    font-size: 23px;
    margin: 3px;
}

.img-options i:hover {
    cursor: pointer;
}

/* EDIT IMAGE DESIGN */

/* GEO POSITION DESIGN */
